<div class="fire-customer-view">

  <div class="row">

    <ng-template [ngIf]="isEditMode">
      <div class="col-md-5 form-group">
        <input
          #focusFirst
          [ngModel]="customer.name"
          placeholder="Customer Name…"
          name="name"
          class="form-control">
      </div>
      <div class="col-md-3 form-group">
        <input
          [ngModel]="customer.turnover"
          placeholder="Customer Name…"
          name="name"
          class="form-control">
      </div>
      <div class="col-md-2 form-group">
        <input
          [ngModel]="customer.currency"
          placeholder="Customer Name…"
          name="name"
          class="form-control">
      </div>
    </ng-template>

    <ng-template [ngIf]="!isEditMode">

      <div class="col-md-5 form-group">
        <div (click)="toggleMode()" class="view-control-field">
          <span class="view-control-field-inner view-control-field-text">{{customer.name}}</span>
          <span class="view-control-field-inner view-control-field-icon">
            <app-icon-inline iconName='edit_md20'></app-icon-inline>
          </span>
        </div>
      </div>

      <div class="col-md-3 form-group">
        <div (click)="toggleMode()" class="view-control-field">
          <span class="view-control-field-inner view-control-field-text">{{customer.turnover}}</span>
          <span class="view-control-field-inner view-control-field-icon">
            <app-icon-inline iconName='edit_md20'></app-icon-inline>
          </span>
        </div>
      </div>

      <div class="col-md-2 form-group">
        <div (click)="toggleMode()" class="view-control-field">
          <span class="view-control-field-inner view-control-field-text">{{customer.currency}}</span>
          <span class="view-control-field-inner view-control-field-icon">
            <app-icon-inline iconName='edit_md20'></app-icon-inline>
          </span>
        </div>
      </div>
    </ng-template>

    <div class="col-md-2 form-group">
      <div class="buttons-block">

        <ng-template [ngIf]="!isRemoving">
          <button
            [disabled]="globalEdit && !isEditMode"
            (click)="toggleMode()"
            class="btn" [ngClass]="{'btn-secondary': !isEditMode, 'btn-success': isEditMode}">

            <ng-template [ngIf]="isEditMode">
              <app-icon-inline iconName='ok_md20_white'></app-icon-inline>
            </ng-template>
            <ng-template [ngIf]="!isEditMode">
              <app-icon-inline iconName='edit_md20'></app-icon-inline>
            </ng-template>
          </button>
        </ng-template>

        <ng-template [ngIf]="!isEditMode && !isRemoving">
          <button
            [disabled]="globalEdit && !isEditMode"
            (click)="remove()" class="btn mt-0 btn-secondary button-remove">
            <app-icon-inline iconName='trash_md20'></app-icon-inline>
          </button>
        </ng-template>

        <ng-template [ngIf]="isRemoving">
          <button disabled class="btn btn-secondary">Removing…</button>
        </ng-template>

        <ng-template [ngIf]="isEditMode">
          <button
            (click)="reset()" class="btn btn-secondary">
            <app-icon-inline iconName='reset_md20'></app-icon-inline>
          </button>
        </ng-template>


      </div>
    </div>

  </div>


</div>
