<div class="fire-contacts-page">
  <!-- <span appTooltip tooltipText="Board title tooltip">CONTRACTS PAGE</span> -->

  <div class="container">
    <fire-board>

      <fire-board-header>
        <fire-board-title>
          <span fireTooltip tooltipText="This is Contracts Page">Contracts</span>
        </fire-board-title>
      </fire-board-header>

      <fire-board-body>

        <!-- Table -->

        <div class="my-5">

          <h4 class="board-body-header">Simple Table</h4>

          <div style="margin: 0 -30px;" class="py-3">

            <fire-table #stripedTable [fireData]="listOfData" [striped]="true">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th><p class="text-right mb-0">Action</p></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of stripedTable.fireData">
                  <td>{{data.name}}</td>
                  <td>{{data.age}}</td>
                  <td>{{data.address}}</td>
                  <td>

                    <p class="text-right mb-0">
                      <a>Action - {{data.name}}</a>{{''}}
                      <button fireButton fireTheme="danger" [outline]="true" fireSize="sm">Delete</button>
                    </p>

                  </td>
                </tr>
              </tbody>
            </fire-table>
          </div>

          <div class="py-3">
            <fire-table #basicTable [fireData]="listOfData">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Address</th>
                  <th><p class="text-right mb-0">Action</p></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.fireData">
                  <td>{{data.name}}</td>
                  <td>{{data.age}}</td>
                  <td>{{data.address}}</td>
                  <td>

                    <p class="text-right mb-0">
                      <a>Action - {{data.name}}</a>{{''}}
                      <button fireButton fireTheme="danger" [outline]="true" fireSize="sm">Delete</button>
                    </p>

                  </td>
                </tr>
              </tbody>
            </fire-table>
          </div>


        </div>




        <!-- Button block -->
        <h2
          #scroll
          [attr.data-item-ratio]="itemsRatio"
          class="board-body-header">
          Button</h2>

        <div class="my-5">
          <div class="py-3">
            <button fireButton [fireBlock]="true" fireTheme="primary">
              <span><fire-icon-inline class="icon-white" iconName='bell_md20'></fire-icon-inline></span>
              Block button
            </button>{{''}}
            <button fireButton [fireBlock]="true" fireTheme="secondary">Block button</button>{{''}}
          </div>



          <!-- Button loading -->

          <div class="py-3">

            <button (click)="setLoading()"
              fireButton fireShape="rounded" fireTheme="secondary"
              [fireLoading]="demoLoading">

              <fire-icon-inline iconName='bell_md20'></fire-icon-inline>{{''}}
              <span>Rounded Button</span>{{''}}
              <fire-icon-inline iconName='bell_md20'></fire-icon-inline>{{''}}
            </button>{{''}}

          </div>

          <!-- Button group -->

          <div class="py-3">
            <fire-button-group>
              <button fireButton fireTheme="secondary">CB</button>
              <button disabled fireButton fireTheme="secondary">FR</button>
              <button fireButton fireTheme="secondary">RR</button>
              <button disabled fireButton fireTheme="warning">DS</button>
              <button fireButton fireTheme="warning">RS</button>
              <button fireButton fireTheme="danger">BL</button>
            </fire-button-group>
          </div>

          <div class="py-3">
            <fire-button-group>
              <button fireButton fireTheme="primary"><fire-icon-inline class="icon-white" iconName='chevron_left_md20'></fire-icon-inline></button>
              <button fireButton fireTheme="primary"><fire-icon-inline class="icon-white" iconName='reset_md20'></fire-icon-inline></button>
              <button fireButton fireTheme="primary"><fire-icon-inline class="icon-white" iconName='chevron_right_md20'></fire-icon-inline></button>
            </fire-button-group>
          </div>

          <div class="py-3">
            <fire-button-group>
              <button fireButton fireShape="circled" fireTheme="primary"><fire-icon-inline class="icon-white" iconName='chevron_left_md20'></fire-icon-inline></button>
              <button fireButton fireShape="circled" fireTheme="primary"><fire-icon-inline class="icon-white" iconName='chevron_right_md20'></fire-icon-inline></button>
            </fire-button-group>
          </div>

          <div class="py-3">


            <fire-button-group>
              <button fireButton fireTheme="primary">
                <fire-icon-inline class="icon-white" iconName='chevron_left_md20'></fire-icon-inline>
                Left</button>
              <button fireButton fireTheme="primary">Middle</button>
              <button fireButton fireTheme="primary">
                Right
                <fire-icon-inline class="icon-white" iconName='chevron_right_md20'></fire-icon-inline>
              </button>
            </fire-button-group>
          </div>

        </div>

        <!-- Buttons -->

        <div class="my-5">



          <div class="py-3">
            <button fireButton fireShape="rounded" fireTheme="primary">Rounded Button</button>{{''}}
            <button fireButton [outline]="true" fireTheme="primary">
              Fire Button</button>{{''}}
            <button fireButton fireTheme="secondary">
              <fire-icon-inline iconName='mail_md20'></fire-icon-inline>
              Fire Button with icon
            </button>{{''}}
          </div>



          <div class="py-3">
            <button disabled fireButton fireTheme="secondary">
              <span class="btn-icon">
                <fire-icon-inline iconName='mail_md20'></fire-icon-inline>
              </span>
              Fire Button
            </button>{{''}}
            <button disabled fireButton fireTheme="dashed">Fire Button</button>{{''}}
            <button fireButton fireTheme="dashed">Fire Button</button>{{''}}
            <button disabled fireButton fireTheme="success">Fire Button</button>{{''}}
            <button fireButton fireTheme="dark">Fire Button</button>
          </div>



          <div class="py-3">
            <button fireButton fireSize="sm" fireTheme="success">
              Fire Button</button>{{''}}
            <button fireButton fireSize="sm" fireTheme="secondary">Fire Button</button>{{''}}
            <button fireButton fireShape="rounded" fireSize="sm" fireTheme="secondary">Fire Button</button>{{''}}
          </div>



          <div class="py-3">
            <button fireButton fireSize="lg" fireTheme="secondary">Fire Button</button>{{''}}
            <button fireButton fireSize="lg" fireTheme="dashed">Fire Button</button>{{''}}
            <button fireButton fireSize="lg" fireShape="circled" fireTheme="secondary">
              <fire-icon-inline iconName='mail_md20'></fire-icon-inline>
            </button>{{''}}
          </div>

          <div class="py-3">
            <button fireButton fireSize="xl" fireTheme="secondary">
              <span class="btn-icon">
                <fire-icon-inline iconName='mail_md20'></fire-icon-inline>
              </span>
              Fire Button
            </button>{{''}}
            <button fireButton fireSize="xl" fireTheme="dashed">Fire Button</button>{{''}}
          </div>



        </div>

        <hr class="my-5" />

        <!-- Text Fields -->

        <h2 class="board-body-header">Text Field</h2>
        <div class="my-5">

          <fire-form-group>
            <fire-input-group>

              <input fireTextField placeholder="TextField with suffix…" [(ngModel)]="value" />

              <ng-template #suffixTemplate>
                <fire-icon-inline iconName="edit_md20"></fire-icon-inline>
              </ng-template>

            </fire-input-group>
          </fire-form-group>


          <fire-form-group>
            <fire-input-group>

              <input fireTextField placeholder="TextField 1 in group…" [(ngModel)]="value" />
              <input fireTextField placeholder="TextField 1 in group…" [(ngModel)]="value" />

              <ng-template #suffixTemplate>
                <fire-icon-inline iconName="edit_md20"></fire-icon-inline>
              </ng-template>

              <ng-template #prefixTemplate>
                <fire-icon-inline iconName="reset_md20"></fire-icon-inline>
              </ng-template>

            </fire-input-group>
          </fire-form-group>

          <fire-form-group>
            <fire-input-group [fireAddonBefore]="addonBeforeTemplate">

              <input fireTextField placeholder="TextField 1 in group…" [(ngModel)]="value" />
              <input fireTextField placeholder="TextField 2 in group…" [(ngModel)]="value" />
              <ng-template #addonBeforeTemplate>
                <button class="btn btn-primary mr-1">Test</button>
              </ng-template>

            </fire-input-group>
          </fire-form-group>


          <fire-form-group>
            <fire-input-group fireAddonBefore="Test:" fireAddonAfter="USD">

              <input fireTextField placeholder="TextField 1 in group…" [(ngModel)]="value" />
              <input fireTextField placeholder="TextField 2 in group…" [(ngModel)]="value" />
              <!-- <input fireTextField placeholder="TextField 3 in group…" [(ngModel)]="value" /> -->

            </fire-input-group>
          </fire-form-group>

          <fire-form-group>
            <fire-input-group>

              <input fireTextField placeholder="TextField 1 in group…" [(ngModel)]="value" />
              <input fireTextField placeholder="TextField 2 in group…" [(ngModel)]="value" />
              <button class="btn btn-primary">Test</button>

            </fire-input-group>
          </fire-form-group>


          <fire-form-group>
            <input fireTextField placeholder="Basic TextField…" [(ngModel)]="value" />
          </fire-form-group>

          <fire-form-group>
            <input fireTextField fireSize="sm" placeholder="Basic TextField…" [(ngModel)]="value" />
          </fire-form-group>

          <fire-form-group>
            <input fireTextField fireSize="lg" placeholder="Basic TextField…" [(ngModel)]="value" />
          </fire-form-group>

          <fire-form-group>
            <input fireTextField fireSize="md" placeholder="Basic TextField…" [(ngModel)]="value" />
          </fire-form-group>

          <fire-form-group>
            <input fireTextField fireSize="md" disabled placeholder="Basic TextField…" [(ngModel)]="value" />
          </fire-form-group>

          <fire-form-group>
            <fire-input-group fireAddonBefore="https://" fireAddonAfter=".com">
              <input fireTextField placeholder="TextField with addons…" [(ngModel)]="value" />
            </fire-input-group>
          </fire-form-group>

          <fire-form-group>
            <fire-input-group fireAddonBefore="https://" fireAddonAfter=".com">
              <input fireTextField fireSize="sm" placeholder="TextField with addons…" [(ngModel)]="value" />
            </fire-input-group>
          </fire-form-group>

          <fire-form-group>
            <fire-input-group fireAddonBefore="https://" fireAddonAfter=".com">
              <input fireTextField fireSize="lg" placeholder="TextField with addons…" [(ngModel)]="value" />
            </fire-input-group>
          </fire-form-group>

          <fire-form-group>
            <fire-input-group fireAddonBefore="https://">
              <input fireTextField placeholder="TextField with addons…" [(ngModel)]="value" />
            </fire-input-group>
          </fire-form-group>

          <fire-form-group>
            <fire-input-group fireAddonAfter="USD">
              <input fireTextField placeholder="TextField with addons…" [(ngModel)]="value" />
            </fire-input-group>
          </fire-form-group>
        </div>

      </fire-board-body>
    </fire-board>

  </div> <!-- CONTAINER -->

</div>
