<div class="fire-loader-inline">
  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10 2V5.2" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M10 14.8V18" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.34415 4.34399L6.60815 6.60799" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.3922 13.392L15.6562 15.656" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M2 10H5.2" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M14.8 10H18" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M4.34415 15.656L6.60815 13.392" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M13.3922 6.60799L15.6562 4.34399" stroke="#495C6D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
