.fire-loader-inline {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  animation: rotation 4s linear infinite;
  line-height: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
