@import '~src/assets/scss/bootstrap/variables';
@import '~src/assets/scss/bootstrap/mixins';

.fire-tab-item {
  position: relative;
  margin-bottom: $spacer/2;

  .tab-link {
    color: $gray-900;
    padding: $spacer/4;
    @include clickable($gray-200);

    &.active-link {
    }

    &:hover {
      text-decoration: none;
    }

  }
}
