@import '~src/assets/scss/bootstrap/variables';
@import '~src/assets/scss/bootstrap/mixins';

.fire-tab-item {
  position: relative;
  // margin-bottom: $spacer/2;

  .tab-link {
    display: inline-block;
    color: $gray-900;
    padding: $spacer/2;
    @include clickable($gray-200);
    border-radius: $border-radius $border-radius 0 0;

    &.active-link {
      &:hover {
        background-color: transparent;
      }
    }

    &:hover {
      text-decoration: none;
    }

  }
}
