@mixin ghost-button() {
  transition: background .2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $gray-100;
  }
}

.btn-cap {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ghost-button {
  @include ghost-button();
}

.btn[disabled] {
  opacity: .4;
}

.btn.btn-dashed {
  border: 1px dashed $gray-300;
  &:hover:not([disabled]) {
    background-color: $gray-100;
  }
}


.btn-xl {
  @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-font-size-lg, $btn-line-height-lg, $btn-border-radius-lg);
}
