//
// NOW CAN INSERT TO THE INPUT-GROUP:
// BUTTON, TEXT-FIELD(INPUT)
//

.fire-input-group {

  .btn {
    border-radius: 0;
    margin-right: -1px;
  }

  .fire-input-group-prefix {
    ~input:first-of-type {
      padding-left: 35px;
    }
  }

  .fire-input-group-suffix {
    ~input:last-of-type {
      padding-right: 35px;
    }
  }

  .fire-input-group-suffix +input, .fire-input-group-prefix +input {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  input {
    border-radius: 0;
    margin-right: -1px;
  }

  input, .btn {
    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      margin-right: 0;
    }
  }

  &.has-addon-before, &.has-addon-after {
    .form-control {
      width: 1%;
      flex: 1 1 auto;
    }
  }

}
