@import 'src/assets/scss/bootstrap/variables';
@import 'src/assets/scss/bootstrap/mixins';

$addons-bg-color: $gray-300;

:host {
  ::ng-deep .form-control {
    width: auto;
  }

  .fire-input-group-addon.addon-after {
    ::ng-deep .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .fire-input-group-addon.addon-before {
    ::ng-deep .btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .has-addon-after {
    ::ng-deep .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      flex-grow: 1;
    }
  }

  .has-addon-before {
    ::ng-deep .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      flex-grow: 1;
    }
  }
}

.fire-input-group {
  display: flex;
  align-items: stretch;

  .fire-input-group-addon {
    background-color: $addons-bg-color;
    display: flex;

    &.addon-before {
      border-radius: $border-radius 0 0 $border-radius;
    }

    &.addon-after {
      border-radius: 0 $border-radius $border-radius 0;
    }

    .fire-input-group-content {
      margin: auto;
    }

    .fire-addon-text {
      padding: $spacer/4 $spacer/2;
    }
  }
}
