<div class="fire-input-group"
  [ngClass]="{
    'has-addon-before': addonBefore,
    'has-addon-after': addonAfter,
    'text-addon-before': textBefore,
    'text-addon-after': textAfter
  }">

  <div *ngIf="suffixTemplate" class="fire-input-group-suffix">
    <ng-container *ngTemplateOutlet='liveSuffixTemplate'></ng-container>
  </div>
  
  <div *ngIf="prefixTemplate" class="fire-input-group-prefix">
    <ng-container *ngTemplateOutlet='livePrefixTemplate'></ng-container>
  </div>

  <div *ngIf="addonBefore" class="fire-input-group-addon addon-before">
    <div class="fire-input-group-content">

      <ng-container *ngTemplateOutlet='liveAddonBeforeTemplate'></ng-container>
      <div class="fire-addon-text" *ngIf="textBefore">{{fireAddonBefore}}</div>

    </div>
  </div>

  <ng-content></ng-content>

  <div *ngIf="addonAfter" class="fire-input-group-addon addon-after">
    <div class="fire-input-group-content">

      <ng-container *ngTemplateOutlet='liveAddonAfterTemplate'></ng-container>
      <div class="fire-addon-text" *ngIf="textAfter">{{fireAddonAfter}}</div>

    </div>
  </div>

</div>
