<h3 class="fire-board-header-title">
  <span appTooltip tooltipText="Justo vestibulum quis et facilisi potenti hac, vitae himenaeos id lobortis ullamcorper purus. Tellus magnis fames nisi nostra commodo rhoncus fermentum venenatis cum habitant nisi maecenas. Magna; morbi sociosqu nulla nisl! Accumsan odio eros nec. Lorem massa gravida mus scelerisque amet tempor. Morbi pulvinar interdum dolor felis, elit tincidunt? Mi sollicitudin habitasse suspendisse integer justo. Tincidunt et varius conubia rhoncus lorem! Sociis phasellus nostra magna curae; vel! Eros netus in sem eget venenatis imperdiet quis diam in.">
    <ng-content></ng-content>
  </span>
</h3>
